@import "../../styles/variables";

.menu {
    position: absolute;
    width: 280px;
    padding: 32px 16px;
    border-radius: 10px;
    background-color: $menu;
    z-index: 1;

    &__inner {
        position: relative;
        font-size: 18px;
        font-weight: 700;
    }

    &__inner-books {
        margin-bottom: 50px;
    }

    &__inner-rules {
        margin-bottom: 50px;
    }

    &__inner-contract {
        position: relative;
        // ::after {
        //     content: '';
        //     position: absolute;
        //     background-color: $accent;
        //     height: 1px;
        //     width: 100%;
        //     top: 50%;
        //     left: 0;
        //     right: 0;    
        // }
    }
}
